# Project data
data
config
docs

# Temporary file
*demo*

# ORM config
prisma

# IDE config
.vscode

# Logs
logs
*.log
.pnpm-debug.log*

# Test
coverage

# Dependency directories
node_modules/

# Environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build
dist